h1{
	color : red;
	font-size: 60px;
}
h2{
	color : blue;
}
body{
	background-color: white;
}
.flotte {
float:left;
}

#carte

{

width: 800px;

margin:0 auto;

background-color: white;



}

nav ul{
	padding: 0px;
	margin: 0px;
	background-color: #333333; 
	list-style-type:  none;
}

nav li{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 100px;
	height: 40px;
	border-right: 1px solid gray;
	text-align: center;
	line-height: 40px;
}

nav li a{
	display: block;
	text-decoration: none;
	color: white
}

nav li :hover{
	background-color: blue;  
}

nav1 ul{
	padding: 0px;
	margin: 0px;
	list-style-type:  none;
}

nav1 li{
	display: inline-block;
	margin-right: 200px;
	text-align: center;
	line-height: 40px;
}
